::-webkit-scrollbar {
    display: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
img,
input,
span,
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
    border: none;
    font-size: 1em;
    max-width: 100%;
}

#derp {
	width: 20%;
	position: fixed;
	left: 1em;
	bottom: 6em;
}

#message {
	position: fixed;
	width: 75%;
	left: 1em;
	bottom: 1em;
	background-color: #fafafa;
	border: 1px solid gray;
	border-radius: 1em;
	padding: 1em;
}

#questionBox {
	width: 80%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 1em;
	background-color: #fafafa;
	border: 1px solid gray;
	border-radius: 1em;
	margin-top: 1em;
}

#answerBox {
	margin-top: 1em;
	border: 1px solid gray;
	border-radius: 1em;
	width: 80%;
	padding: 1em;
	overflow: hidden;
	word-break: break-all;
}

#answerBox:focus {
	border: 1px solid gray;
}

#submitButton {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
    margin-top: 1em;
}